my-n8n-project/workflows/example-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "message": "Hello, how can I assist you today?"
      },
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "input": "={{$json[\"input\"]}}",
        "output": "={{$json[\"output\"]}}"
      },
      "name": "Custom Node",
      "type": "custom.customNode",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "message": "Task completed successfully!"
      },
      "name": "End",
      "type": "n8n-nodes-base.end",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Custom Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Custom Node": {
      "main": [
        [
          {
            "node": "End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}